// Iconography
// -------------------------
$icon-font-path:          "../../fonts/";
$theme-font-path:          "../../fonts/";
// Image
// -------------------------
$image-theme-path:'../../image/red/';
$image-theme-path-base:  '../../image/'!default;

$red:                 #f03b5c;
$theme-color           : $red; 
$header-bg             :transparent;
$search-icon-color     :#292733;
$megamenu-link-color   :#292733;
$topbar-color          :#777;
$border-color          :#e6e6e6;
$footer-center-bg      :#191919;
$power-bg              :#191919;
$power-border-color    :#373738;



