/* category */

.category-info {
    padding: 0;
    .image {
        padding: 0;
        margin-bottom: 19px;
    }
}

.category-description {
    display: none;
}

.refine-search {
    ul, ol {
        list-style: none;
        li {
            padding: $padding-small-vertical 0;
            padding-left: 10px;
            margin-right: 10px;
            margin-left: 10px;
            line-height: normal;
            position: relative;
            @include rtl-float-left;
            &:before {
                content: "";
                position: absolute;
                @include size(3px, 3px);
                top: 50%;
                left: 0;
                background-color: $theme-color-default;
            }
        }
    }
    h3 {
        color: #474747;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
    }
}

//
// Account
// --------------------------------------------------------------------

//
// Resgister
// --------------------------------------------------------------------

//
// Login
// --------------------------------------------------------------------

//
// Checkout
// --------------------------------------------------------------------

//sider bar
.sidebar {
    .panel-title{
        font-size: $font-size-base + 4;
    }
    .product-col{
        width:100% !important;
        clear:both;                        
    }
    .product-block{ 
        overflow: hidden;
        padding:15px;
        border-bottom:1px solid $border-color;
        &.product-v2{
            .name{
                a {
                    color: $black;
                    &:hover {
                        color: $theme-color;
                    }
                } 
            }
            .price{
                .price-new{
                    color: $black;
                }
            }
        }
        .block-img{
            @include rtl-float-left();
            @include rtl-margin-right(10px);

        }
        .product-meta{
            overflow: hidden;
            @include rtl-text-align-left();
            padding:0;
        } 
        .name{
            padding-top:0;
            margin-bottom:5px;
        }
        .rating {
            margin: 0;
        }
    } 
    .cart,.product-label, .action, .quickview, .zoom {
        display: none;
    }
    .testimonials{
        .panel-heading {
            @include rtl-text-align-left();
        }
        .carousel-controls {
            @include rtl-left(auto);
            top: -48px;
        }
    } 
}
 
.subcategories {
    margin-bottom: -1px;
    background-color: $product-filter-bg;
}

/* 
 *  LISTING PRODUCTS PAGE 
 */
.product-filter {
    text-transform: uppercase;
    font-size: $product-filter-font-size;
    color: $product-filter-color;
    

    .filter-right > div {
        padding-left: 5px;
    }
    .display {
        @include rtl-float-left;
    }
    .form-control {
        display: inline-block;
        padding: 5px 20px;
        @include size(auto,36px);
    }
    .btn-switch {
       @include size(35px,35px);
        display:  inline-block;
       border: 1px solid $border-color;
       @include rtl-margin-right(5px);
       font-size: $font-size-base - 1; 
        color: #9c9b9b;
        background: #fafafa;
        padding: 0;
        line-height: 35px;
        &:hover,&.active {
            color: #fff;
            border: 1px solid $theme-color;
            background: $theme-color;
            @include box-shadow (none);
        }
    }
}

.product-list{
    .products-block{
        .products-row:last-child {
            .product-block{
                margin-bottom: 30px;
            }
        }
    }
    .description{
        display: block;
    }
    .product-col{
        width:100% !important;
      /*   .product-label.sale {
            @include rtl-left(10px);
            @include rtl-right(auto);
        } */
        .block-img{
            @include rtl-float-left();
        }
        .product-meta{
            overflow: hidden;
            @include rtl-text-align-left();
        }
        clear:both;
        .product-block{ 
            overflow: hidden; 
        }
     }
}


/* 
* PRODUCT INFORMATION PAGE
*/
.product-info {
    .box-product-infomation {
        margin-top: 20px;
    }
    .title-product{
        font-size: $font-size-base + 16;
        margin-top:0;
    }
    .image-additional .item {
        text-align: center;                
    }
    .thumbs-preview {
        margin-top: 20px;
        a + a {
            margin-left: 10px;
        }
    }
    .vertical {
        &.image-additional {
            .carousel-control{
                display:none;
            }
        }
        &:hover {
            .carousel-control {
                display: block;
            }
        }
        
        .center {
            left: 0;
            right: 0;
            margin: 0 auto;
        }

        .top {
            top: 0;
            bottom: auto;
        }

        .bottom {
           top: auto;
           bottom: 0;
        }
    }
    .horical {
        display: block;
        width: 100%;
        text-align: center;
        position: relative;

        &:hover {
            .carousel-control {
                display: block;
            }
        }
    }
    .rating {
        margin: 0;
    }
    .image {
        position: relative;
        text-align: center;
        overflow: hidden;
    }
    img {
        display: inline-block;
    }
    .share {
        @include clearfix;
        padding: 20px 0;
        display: none;
    }
    .option-image {
        margin-top: 3px;
        margin-bottom: 10px;
        label {
            display: block;
            width: 100%;
            height: 100%;
        }
        img {
            margin-right: 5px;
            margin-left: 0;
            border: 1px solid #CCCCCC;
            cursor: pointer;
        }
    }
    .options {
        margin-bottom: 20px;
    }
    .review {
        .share {
            line-height: normal;
            a {
                text-decoration: none;
            }
        }
        & > div {
            padding: 0;
            border: 0;
            & > span {
                color: #38B0E3;
            }
        }
    }

    .qty {
        line-height: 40px;
        text-transform: uppercase;
        font-weight: 400;
        color: lighten($theme-color-default, 53%);
        @include rtl-margin-right(5px);
        font-family: $font-family-secondary;
    }
    .wishlist,.compare{
        span{
            @include rtl-padding-left(10px);
        }
        a{
            cursor: pointer;
        }
    }
    .product-meta {
        > div  {
            @include rtl-margin-right(10px);
        }
    }
    .quantity-adder {
        display: block;
        position: relative;
        border: 1px solid $border-color;
        .add-action {
            @include size(35px, 40px);
            background: #f7f7f7;
            color: $black;
            display: block;
            position: relative;
            cursor: pointer;
            font-size: 10px;
            line-height: 40px;
            text-align: center;
        }
        .quantity-number {
            input {
                @include size(40px, 40px);
                text-align: center;
                @include inline-block;
                @include rounded-corners(0);
                border:none;
                border-left:1px solid $border-color;
                border-right:1px solid $border-color;
                box-shadow: none;
                padding: 0;
            }
        }
        .minimum {
            line-height: 38px;
            font-size: 11px;
            @include rtl-margin-left(10px);
        }
    }
}
.related {
    .owl-wrapper-outer{
        border: none;
        box-shadow: none;
        @include rounded-corners(0);    
        @include box-shadow(none);    
    }
}
.zoomWindowContainer .zoomWindow {
    @include rtl_left(500px);
}
#content{
    h1{
        font-size: $font-size-base + 6;
    }
    h2{
        font-size: $font-size-base + 2;
    }
}

