// owl-carousel default opencart
body .owl-carousel {
    box-shadow: none;
    background: transparent;
    @include rounded-corners(0);
    border: none;
}




// Module fitter
.filter {
    .filter-title {
        color: #000;
        font-weight: bold;
    }
    .filter-content {
        padding-left: 30px;
        padding-right: 30px;
        label {
            font-weight: 300;
        }
    }

    .radio, .checkbox {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
.cart {
    .dropdown-menu {
        padding: 20px;
        min-width: 400px;
    }
}
.paging {
    text-align: center;
}
// module cart
#cart {
    @include rtl-margin-left(15px);
    .icon-cart {
        background: url("#{$image-theme-path}icon_cart.png") no-repeat right bottom;
        @include size(19px,27px);
        display: inline-block;
        @include rtl-float-left();
    }
    .cart-total {
        background: $theme-color;
        display: inline-block;
        font-size: $cart-number-product-font-size;
        font-family: $font-family-secondary;
        line-height: $cart-number-product-height;
        @include rtl-float-left();
        text-align: center;
        color: #fff;
        @include size($cart-number-product-width, $cart-number-product-height);
        @include rtl-margin(2px,0,0,-7px);
    }
}
